CONFIG_LOCALVERSION="-debug-ksu"
CONFIG_LOCALVERSION_AUTO=y
CONFIG_KSU=y
CONFIG_KSU_DEBUG=y
# CONFIG_KSU_NO_KPROBES is not set
CONFIG_KPROBES=y
# CONFIG_CC_WERROR is not set
CONFIG_OVERLAY_FS=y
CONFIG_PAPER_XIAOMI_KERNEL_MERGE=y
CONFIG_PAPER_ON_POWERKEY_TWI_PANIC=y
CONFIG_BLK_CGROUP=y
CONFIG_IOSCHED_BFQ=y
CONFIG_BFQ_GROUP_IOSCHED=y
CONFIG_CFQ_GROUP_IOSCHED=y
CONFIG_PANIC_TIMEOUT=1