CONFIG_LOCALVERSION="-debug-ksu"
CONFIG_LOCALVERSION_AUTO=y
CONFIG_KSU=y
CONFIG_KSU_DEBUG=y
#add: drop ksu kprobes build
# kernelsu: 432eb318 (kernel: Kconfig: Remove KPROBES dependancy (#453))
# CONFIG_KSU_NO_KPROBES is not set
#end: drop ksu kprobes build
CONFIG_KPROBES=y
# CONFIG_CC_WERROR is not set
#add: user switch debug build 824c0024
# CONFIG_RT_GROUP_SCHED is not set
CONFIG_DEBUG_INFO=y
#end: user switch debug build 824c0024
CONFIG_OVERLAY_FS=y
CONFIG_PAPER_XIAOMI_KERNEL_MERGE=y
CONFIG_PAPER_ON_POWERKEY_TWI_PANIC=y
CONFIG_BLK_CGROUP=y
CONFIG_IOSCHED_BFQ=y
CONFIG_BFQ_GROUP_IOSCHED=y
#add sq-bfq: bfq-iosched: Make BFQ default to IOPS mode on SSDs
CONFIG_BFQ_SSD=y
#end sq-bfq: bfq-iosched: Make BFQ default to IOPS mode on SSDs
CONFIG_CFQ_GROUP_IOSCHED=y
#add sq-cfq: block opt
CONFIG_CFQ_SSD=y
#end sq-cfq: block opt
CONFIG_PANIC_TIMEOUT=1
CONFIG_DEBUG_ALIGN_RODATA=y
CONFIG_KALLSYMS_ALL=y
# CONFIG_SCHED_CORE_CTL is not set
