CONFIG_LOCALVERSION="-perf-ksu"
CONFIG_KSU=y
# CONFIG_KSU_DEBUG is not set
#add: drop ksu kprobes build
# kernelsu: 432eb318 (kernel: Kconfig: Remove KPROBES dependancy (#453))
# CONFIG_KSU_NO_KPROBES is not set
#end: drop ksu kprobes build
# CONFIG_KPROBES is not set
# CONFIG_CC_WERROR is not set
CONFIG_OVERLAY_FS=y
