CONFIG_LOCALVERSION_AUTO=y
CONFIG_HZ_100=y
# CONFIG_HZ_300 is not set
# CONFIG_IOSCHED_BFQ is not set
# CONFIG_SCSI_CONSTANTS is not set
# zhaoyuenan add: 将全局预读大小还原为512, 即使在init中把sda/sde恢复为128,
# 但在其他设备上(loop, zram)上依然为2048, 这会增加很多内存压力, 因此回滚为默认值
CONFIG_VM_MAX_READAHEAD=512
# zhaoyuenan end: 将全局预读大小还原为512, 即使在init中把sda/sde恢复为128,
# 但在其他设备上(loop, zram)上依然为2048, 这会增加很多内存压力, 因此回滚为默认值
# CONFIG_INPUT_STMVL53L0 is not set
