# paper-other-kernel-patch p4-xm-msm8998
CONFIG_HZ_100=y
# CONFIG_HZ_300 is not set
# CONFIG_IOSCHED_BFQ is not set
# CONFIG_SCSI_CONSTANTS is not set
CONFIG_VM_MAX_READAHEAD=512

#add 禁用强制热重启
# 修复重启后电池温度虚高导致无法充电且电流显示不正常的问题
# xm-msm8998 kernel commit: b6106d34 (revert)
# CONFIG_QCOM_PRESERVE_MEM is not set
#end
