# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_HZ_100=y
# CONFIG_HZ_300 is not set
# CONFIG_IOSCHED_BFQ is not set
# CONFIG_SCSI_CONSTANTS is not set
CONFIG_VM_MAX_READAHEAD=512
# CONFIG_INPUT_STMVL53L0 is not set
# CONFIG_ARM64_SW_TTBR0_PAN is not set
# CONFIG_MEMORY_STATE_TIME is not set
# CONFIG_DEBUG_ALIGN_RODATA is not set
# CONFIG_KALLSYMS_ALL is not set
CONFIG_KALLSYMS=y
# CONFIG_CC_WERROR is not set
#add: drop -g build kernel
# CONFIG_DEBUG_INFO is not set
#end: drop -g build kernel
